@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  --main-color: #f2f2f7; /* фон страницы */
  --second-color: #1c1c1e; /* основной текст */

}

/* Базовые стили для body */
body{
    background-color: var(--main-color);
    font-family: 'Inter', system-ui, sans-serif;
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Виджет погоды */
.weather{
    width: 500px;

    border-radius: 25px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    padding: 35px;
    color: #1c1c1e; 
}


/* Форма поиска города */
.form{
    width: 100%;
    height: 50px;
    
    display: flex;
    align-items: center;


    background-color: #fff;
    border-radius: 60px;
    box-shadow: 0 8px 80px rgba(0, 0, 0, 0.1);

    padding: 35px;
}


/* Инпут формы */
.form__input {
    background: transparent;
    flex-grow: 1;
    
    border: none;
    outline: none;
    font-size: 16px;
}

.form__input::placeholder{
    color: rgba(0, 0, 0, 0.50)
}

/* Кнопка поиска */
.form__btn{
    margin-left: 10px ;
}


/* Иконка внутри кнопки */
.form__btn img {
    width: 30px;
    height: 30px;
}

/* Основная иконка погоды */
.weather__img{
    width: 200px;
    margin-bottom: 20px;
}


/* Контейнер с температурой и городом */
.weather__info{
    padding: 35px 0 85px;

    text-align: center;
}

/* Температура */
.weather__temp{
    color: var(--second-color);
    font-size: 56px;
    font-weight: 700;

}

/* Название города */
.weather__city{
    font-size: 38px;
    font-weight: 500;
}

/* Контейнер с деталями (влажность, ветер) */
.weather__details{
    display: flex;

    align-items: center;
    justify-content: space-around;
    text-align: center;

}

/* Размер иконки погоды и деталей (влажность, ветер и т.д) */
.details__img{
    width: 40px;
    grid-row: 1 / 3;
}


/* Один блок детали (влажность/ветер) */
.details{
    display: grid;
    align-items: center;
    grid-template-columns: 40px auto;
    grid-template-rows: auto auto;
    column-gap: 20px;
}

/* Значение и подпись детали */
.details__value,
.details__title{
    font-size: 20px;
}